Importações de libs

In [11]:
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine  
from sqlalchemy.orm import sessionmaker
from sqlalchemy import (
    Column, 
    String,
    Integer,
    MetaData
)
meta = MetaData()
Base = declarative_base()

Informações de Memória do DataFrame

In [12]:
df = pd.read_csv('/home/miqsantos/Desktop/senac/arquivo_plano_diciplina.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COMPONENTE CURRICULAR  12 non-null     object
 1   CH                     12 non-null     int64
 2   CP                     12 non-null     int64
 3   CR                     12 non-null     int64
 4   DOCENTE                12 non-null     object
 5   TELEFONE               11 non-null     object
 6   E-MAIL                 11 non-null     object
dtypes: int64(3), object(4)
memory usage: 800.0+ bytes

Carregar os dados de docentes sem eliminar os dados nulos. Anotar o resultado.

In [13]:
df

,COMPONENTE CURRICULAR,CH,CP,CR,DOCENTE,TELEFONE,E-MAIL
0,CONCEITOS DE BIG DATA,32,24,8,Prof.Dr. Silvio Luiz Stanzani,(11) 99126-5604,silvio.stanzani@gmail.com
1,CIENCIA DE DADOS,32,24,8,Prof.Dr. Andre Ippolito,(11) 97317-7759,ippolito@uol.com.br
2,BANCOS DE DADOS PARA BIG DATA,40,32,8,Prof.Me. Fabio Polonio,(11) 99485-2425,fabio.polonio@gmail.com
3,ARQUITETURA DE BIG DATA E ANALYTICS,40,32,8,Prof.Me. Leonardo Cunha dos Santos,(11) 94838-0504,lcds.gru@gmail.com
4,PROJETO DATA LAKE DESIGN ARQUITETURA E INTEGRA�AO,24,24,0,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br
5,CONEXAO COM O MERCADO I,8,0,8,Prof.Me. Adriano Luciano Candido,(11) 98252-2211,adriano.luciano@gmail.com
6,TECNICAS PARA PROCESSAMENTO E ANALISE DE BIG DATA,40,32,8,Prof.Me. Fernando Andrade de Lima,(11) 99685-8651,andradelima@yahoo.com
7,ANALISE DE INFORMACOES POR MEIO DE BI E ANALYTICS,40,32,8,Prof.Dr. Silvio Luiz Stanzani,(11) 99126-5604,silvio.stanzani@gmail.com
8,GESTAO DO BIG DATA,32,24,8,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br
9,ESTRATEGIAS E TENDENCIAS TECNOLOGICAS DO BIG DATA,40,32,8,Prof.Dr. Raphael Mendes de Oliveira Cobe,(11) 96693-6458,raphael.cobe@unesp.br
10,PROJETO TRANSFORMACAO DIGITAL COM BIG DATA,24,0,24,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br
11,CONEXAO COM O MERCADO II,8,0,8,TBD,NaN,NaN

Eliminar o conteúdo do dataframe docente que contiver campos nulos.

In [14]:
df = df.dropna()
df

,COMPONENTE CURRICULAR,CH,CP,CR,DOCENTE,TELEFONE,E-MAIL
0,CONCEITOS DE BIG DATA,32,24,8,Prof.Dr. Silvio Luiz Stanzani,(11) 99126-5604,silvio.stanzani@gmail.com
1,CIENCIA DE DADOS,32,24,8,Prof.Dr. Andre Ippolito,(11) 97317-7759,ippolito@uol.com.br
2,BANCOS DE DADOS PARA BIG DATA,40,32,8,Prof.Me. Fabio Polonio,(11) 99485-2425,fabio.polonio@gmail.com
3,ARQUITETURA DE BIG DATA E ANALYTICS,40,32,8,Prof.Me. Leonardo Cunha dos Santos,(11) 94838-0504,lcds.gru@gmail.com
4,PROJETO DATA LAKE DESIGN ARQUITETURA E INTEGRA�AO,24,24,0,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br
5,CONEXAO COM O MERCADO I,8,0,8,Prof.Me. Adriano Luciano Candido,(11) 98252-2211,adriano.luciano@gmail.com
6,TECNICAS PARA PROCESSAMENTO E ANALISE DE BIG DATA,40,32,8,Prof.Me. Fernando Andrade de Lima,(11) 99685-8651,andradelima@yahoo.com
7,ANALISE DE INFORMACOES POR MEIO DE BI E ANALYTICS,40,32,8,Prof.Dr. Silvio Luiz Stanzani,(11) 99126-5604,silvio.stanzani@gmail.com
8,GESTAO DO BIG DATA,32,24,8,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br
9,ESTRATEGIAS E TENDENCIAS TECNOLOGICAS DO BIG DATA,40,32,8,Prof.Dr. Raphael Mendes de Oliveira Cobe,(11) 96693-6458,raphael.cobe@unesp.br
10,PROJETO TRANSFORMACAO DIGITAL COM BIG DATA,24,0,24,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br

Criar classe de conexão com Banco de dados

In [15]:
class Connection():
    """
        Classe que agrupa as funções de 
        gerenciamento do Banco de Dados. 
    """
    
    def __init__(self, user, password, host, port, database, engine):
        """
            Classe que instancia as conexões com 
            o serviço PostgreSql.

            PARAMETROS:
                user: Username do PostgreSql;
                password: Senha do PostgreSql;
                host: Ponto de acesso do PostgreSql;
                port: Porta do ponto de acesso do PostgreSql;
                database: Banco de dados do PostgreSql.
        """

        self.connection = f"{engine}://{user}:{password}@{host}:{port}/{database}"
        self.engine = create_engine(
            self.connection, 
            max_identifier_length=128, 
            pool_size=10, 
            max_overflow=0,
            # connect_args={'application_name': 'Senac'}
        )

    def get_engine(self):
        """
            Obtém a sessão

            RETURN:
                Retorna a engine
        """

        return self.engine

    def create_session(self):
        """
            Cria uma sessão.

            RETURN:
                Retorna a sessão criada.
        """

        try:
            self.Session = sessionmaker(self.engine)
            self.session = self.Session()
            return self.session
        except Exception as error:
            print(f"ERROR: funcion {Connection.create_session.__name__} -> error -> {str(error)}")
            return str(error)

    def close_engine(self):
        """
            Fecha a engine

            RETURN:
                Fecha a engine
        """

        try:
            self.engine.dispose()
        except Exception as error:
            print(f"ERROR: funcion {Connection.close_engine.__name__} -> error -> {str(error)}")
    
    def create_database(self, db_name: str):
        """
            Função responsavel por criar a database/collection caso não exista
            
            PARAMETROS:
                nome do database/collection
        """
        with conn.engine.connect() as connection:
            try:
                # Read a single record
                sql = f"CREATE DATABASE IF NOT EXISTS {db_name};"
                connection.execute(sql)
                print(f"Database {db_name} criada com sucesso")
            except Exception as error:
                print("Erro ao criar base de dados", error)
    
    def drop_tables(self, tables: list):
        """
            Função responsavel por dropar as tabelas caso exista

            PARAMETROS:
                Lista de nomes das tabelas
        """
        with conn.engine.connect() as connection:
            try:
                for table_name in tables:
                    # Read a single record
                    sql = f"DROP TABLE  IF EXISTS {table_name};"
                    connection.execute(sql)
                    print(f"TABLE {table_name} dropada com sucesso")
            except Exception as error:
                print("Erro ao criar base de dados", error)

Realizando connexão com banco de dados

In [16]:
conn = Connection(user='root', 
                  password='Senac$2022', 
                  host='172.17.0.2', 
                  port=3306, 
                  database='mysql', 
                  engine='mysql+pymysql'
                )
conn.create_database(db_name='senac')
conn.drop_tables(tables=['senac.tb_diciplina', 'senac.tb_docente'])

Database senac criada com sucesso
TABLE senac.tb_diciplina dropada com sucesso
TABLE senac.tb_docente dropada com sucesso

Mapeando as entidades para Object Relational Mapper (ORM)

In [17]:

class Diciplina(Base):
    
    __tablename__ = 'tb_diciplina'
    __table_args__ = {'schema': 'senac'}

    id = Column(Integer, primary_key=True, autoincrement=True) 
    nome = Column(String(255))
    ch = Column(Integer)
    cp = Column(Integer)
    cr = Column(Integer)

    def workload_data_from_dataframe(self, df_diciplina: pd.DataFrame):
        """
            Função responsavel por realizar a carga na tabela de diciplinas
            
            PARÂMETROS:
                df_diciplina: dataframe de diciplinas;
        """
        try:
            df_diciplina.to_sql(
                name='tb_diciplina',
                con=conn.get_engine(),
                schema ='senac',
                if_exists='append',
                index=False,
                chunksize=10000,
                # dtype=validação de tipagem de dado, 
                method='multi'
            )
        except Exception as error:
            print("Error ao inserir carga de diciplinas", error)    

class Docente(Base):
    
    __tablename__ = 'tb_docente'
    __table_args__ = {'schema': 'senac'}

    id = Column(Integer, primary_key=True, autoincrement=True) 
    nome = Column(String(255))
    email = Column(String(50), nullable=False)
    celular = Column(String(20), nullable=False)

    def workload_data_from_dataframe(self, df_docente: pd.DataFrame):
        """
            Função responsavel por realizar a carga na tabela de docentes
            PARÂMETROS:
                df_docente: dataframe de docentes;
        """
        try:
            df_docente.to_sql(
                name='tb_docente', # nome da tabela
                con=conn.get_engine(), # engine da minha conexão
                schema ='senac', # nome do schema ou database
                if_exists='append', # se a tabela existir, ele apenas insere os registros
                index=False, # não incluir o index do dataframe
                chunksize=10000, # quantida de linhas que cada batch irá inserir por vez
                # dtype=validação de tipagem de dado, 
                method='multi' # passa diversos valores em uma única chamada
            )
        except Exception as error:
            print("Error ao inserir carga de docentes", error)

Criando tabelas

In [18]:
Base.metadata.create_all(bind=conn.engine)

Criar um sub-dataframe contendo os dados da tabela “disciplina”
(Componente curricular, CH, CP, CR)

• Converter o dataframe disciplina em lista

• Executar múltiplos comandos insert para carregar a tabela “disciplina” a
partir do arquivo plano.

In [19]:
df_diciplina = df[['COMPONENTE CURRICULAR', 'CH', 'CP', 'CR']].rename(columns={"COMPONENTE CURRICULAR":"nome"})
diciplina = Diciplina()
diciplina.workload_data_from_dataframe(df_diciplina=df_diciplina)
df_diciplina

                                                 nome  CH  CP  CR
0                               CONCEITOS DE BIG DATA  32  24   8
1                                    CIENCIA DE DADOS  32  24   8
2                       BANCOS DE DADOS PARA BIG DATA  40  32   8
3                 ARQUITETURA DE BIG DATA E ANALYTICS  40  32   8
4   PROJETO DATA LAKE DESIGN ARQUITETURA E INTEGRA�AO  24  24   0
5                             CONEXAO COM O MERCADO I   8   0   8
6   TECNICAS PARA PROCESSAMENTO E ANALISE DE BIG DATA  40  32   8
7   ANALISE DE INFORMACOES POR MEIO DE BI E ANALYTICS  40  32   8
8                                  GESTAO DO BIG DATA  32  24   8
9   ESTRATEGIAS E TENDENCIAS TECNOLOGICAS DO BIG DATA  40  32   8
10         PROJETO TRANSFORMACAO DIGITAL COM BIG DATA  24   0  24

Criar um sub-dataframe contendo os dados da tabela “docente”
(DOCENTE, Telefone, EMAIL)

• Eliminar redundâncias de dados de professores com os métodos panda:
.sort_values e .drop_duplicates

• Converter o dataframe “docente” em lista

• Executar múltiplos comandos insert para carregar a tabela “disciplina” a
partir do arquivo plano.

In [20]:
df_docente = df[['DOCENTE', 'TELEFONE', 'E-MAIL']].rename(columns={"DOCENTE":"nome", "E-MAIL":"EMAIL", "TELEFONE": "celular"})
df_docente.drop_duplicates(subset='nome', inplace=True)
df_docente.sort_values(by='nome', inplace=True)
diciplina = Docente()
diciplina.workload_data_from_dataframe(df_docente=df_docente)
df_docente

,nome,celular,EMAIL
1,Prof.Dr. Andre Ippolito,(11) 97317-7759,ippolito@uol.com.br
9,Prof.Dr. Raphael Mendes de Oliveira Cobe,(11) 96693-6458,raphael.cobe@unesp.br
0,Prof.Dr. Silvio Luiz Stanzani,(11) 99126-5604,silvio.stanzani@gmail.com
5,Prof.Me. Adriano Luciano Candido,(11) 98252-2211,adriano.luciano@gmail.com
2,Prof.Me. Fabio Polonio,(11) 99485-2425,fabio.polonio@gmail.com
6,Prof.Me. Fernando Andrade de Lima,(11) 99685-8651,andradelima@yahoo.com
3,Prof.Me. Leonardo Cunha dos Santos,(11) 94838-0504,lcds.gru@gmail.com
4,Prof.Me. Nilo Sergio Maziero Petrin,(11) 98369-4925,nilo.spetrin@sp.senac.br